html {
    background-color: #01161E;
    font-family: Arial, Helvetica, sans-serif;
    color: #0F0F0F;
}

body {
    margin: 0;
}

.header {
    width: 100%;
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header::before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: MidnightBlue;
    opacity: 0.3;
}

.header-section {
    user-select: none;
    position: relative;
    padding: 15% 0 10%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    color: #01161E;
    /*text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);*/
    font-family: "Montserrat", sans-serif;
}

.container {
    position: absolute;
    top: 0 ;
    left: 30%;
    display: inline-block;
}

.button_out {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 300px;
    height: 300px;
    margin: 10px;
    left: 10%;
    top: 0%;
    text-align: center;
    transform: translate(-10%, 0%);
    background-color: #d6d6d6;
    border-radius: 10px;
    transition: transform .1s;
}

.button_out:hover {
    transform: scale(1.1) translate(-10%, 0%);
}

#hexgame-button {
    position: relative;
    text-align: center;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 78%;
    background-image: url(../images/hex2.jpg);
    color: #FE9920;
    font-size: 20px;
    line-height: 80px;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    cursor: pointer;
    transition: background-color 1s ease;
    transition: transform .1s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 775;
}

#hexgame-button:hover {
    background-color: #BA3533;
    transform: scale(1.1) translate(-45%, -45%);
}

#awale-button {
    position: relative;
    text-align: center;
    vertical-align: middle;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    height: 75px;
    background-image: url(../images/awale.jpg);
    background-size: contain;
    color: #FE9920;
    font-size: 20px;
    line-height: 80px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    cursor: pointer;
    transition: background-color 1s ease;
    transition: transform .1s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    font-weight: 775;
}

#awale-button:hover {
    background-color: #BA3533;
    transform: scale(1.1) translate(-45%, -45%);

}