html {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #090806;*/
    background-color: #01161E;
}

body {
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

.header {
    position: relative;
    height: 70px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    padding-left: 0%;
    padding-right: 0%;
    background-color: #0892A5;
    border-radius: 10px;
}

.clickable {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 100px;
    height: 40px;
    margin: 0.5%;
    margin-top: 0.9%;
    left: 17%;
    top: 0%;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    transform: translate(-10%, 0%);
    background-color: #22AAA1;
    border-radius: 10px;
    transition: transform .1s;
    font-size: 110%;
    font-weight: 575;
}

.clickable2 {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 100px;
    height: 40px;
    margin: 10px;
    left: 0%;
    top: 0%;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    transform: translate(-10%, 0%);
    background-color: #22AAA1;
    border-radius: 10px;
    transition: transform .1s;
    font-size: 110%;
}



.selected {
    user-select: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    width: 100px;
    height: 40px;
    margin: 0.5%;
    margin-top: 0.9%;
    left: 17%;
    top: 0%;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    transform: translate(-10%, 0%);
    background-color: #4CE0D2;
    border-radius: 10px;
    transition: transform .1s;
}

.clickable:hover {
    background-color: #4CE0D2;
    transform: scale(1.1) translate(-10%, 0%);
}

.clickable2:hover {
    background-color: #4CE0D2;
    transform: scale(1.1) translate(-10%, 0%);
}

.selected:hover {
    background-color: #4CE0D2;
    transform: scale(1.1) translate(-10%, 0%);
}


.back_button {
    cursor: pointer;
    display: inline-block;
    width: 100px;
    height: 40px;
    margin: 10px;
    padding: 0;
    left: 0%;
    top: 0%;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    transform: translate(-10%, 0%);
    background-color: #0892A5;
    border-radius: 10px;
    transition: transform .1s;
}

.back_button:hover {
    background-color: #08636F;
    transform: scale(1.1) translate(-10%, 0%);
}

.text {
    display: inline-block;
    margin: 10px;
    width: 150px;
    height: 40px;
    text-align: center;
    white-space: nowrap;
    color: #DDE0BD;
    font-size: 19px;
    font-weight: 700;
}

.textHome{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #DDE0BD;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.start_game1v1 {
    user-select: none;
    font-size: 20px;
    color: #fe9a20;
    background-image: url(../images/hext.jpg);
    display: flex;
    direction: column;
    vertical-align: middle;
    width: 500px;
    height: 170px;
    margin: 40px;
    left: 10%;
    top: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translate(-10%, 0%);
    /*background-color: #C0C5C1;*/
    border-radius: 10px;
    transition: transform .1s;
    font-size: 130%;
    font-weight: 800;
}

.start_gameIA{
    user-select: none;
    font-size: 20px;
    color: #FE9920;
    background-image: url(../images/hext.jpg);
    display: flex;
    direction: column;
    vertical-align: middle;
    width: 500px;
    height: 190px;
    margin: 40px;
    left: 10%;
    top: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translate(-10%, 0%);
    /*background-color: #C0C5C1;*/
    border-radius: 10px;
    transition: transform .1s;
    font-size: 130%;
    font-weight: 800;
}

.start_gameIAvsIA{
    user-select: none;
    font-size: 20px;
    color: #FE9920;
    background-image: url(../images/hext.jpg);
    display: flex;
    direction: column;
    vertical-align: middle;
    width: 500px;
    height: 170px;
    margin: 40px;
    left: 10%;
    top: 10%;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translate(-10%, 0%);
    /*background-color: #C0C5C1;*/
    border-radius: 10px;
    transition: transform .1s;
    font-size: 130%;
    font-weight: 800;
}

.button_out {
    display: flex;
    direction: column;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    margin: 10px;
    left: 10%;
    top: 0%;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translate(-10%, 0%);
    background-color: #C0C5C1;
    border-radius: 10px;
    transition: transform .1s;
}

.button_out:hover {
    transform: scale(1.1) translate(-10%, 0%);
}

.start_game1v1:hover {
    transform: scale(1.1) translate(-10%, 0%);
} 

.start_gameIA:hover {
    transform: scale(1.1) translate(-10%, 0%);
} 

.start_gameIAvsIA:hover {
    transform: scale(1.1) translate(-10%, 0%);
}

.btn {
    background-color: blue;
    height: 50px;
    width: 50px;
}

.start_game {
    background-image: url(../images/hex.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ia_container {
    display: flex;
    flex-direction: column;
}

#ia_container {
    display: flex;
    flex-direction: column;
}

#choose_color {
    display: flex;
    flex-direction: column;
}

.color_button{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 80px;
    height: 40px;
    margin: 0 10px;
    padding: 0;
    line-height: 40px;
    transform: translate(-10%, 0%);
    background-color: #22AAA1;
    border-radius: 10px;
    transition: transform .1s;
    font-size: 95%;
    font-weight: 575;
}

.chooseplayer_blue{
    margin-left: -5%;
}   

.color_button:hover {
    background-color: #4CE0D2;
    transform: scale(1.1) translate(-10%, 0%);
}


.selected_2{
    background-color: #4CE0D2;
}

.selected_2:hover{
    background-color: #4CE0D2;
}  

#choose_color {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}
#button_blue {
    margin-right: 5px;
}

#container{
    justify-content: center;
    flex-direction: column;
}