<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jeux combinatoires</title>
    <link rel="stylesheet" href="../static/css/home_styles.css">
</head>

<body>
    <div class="header">
        <div class="header-section">
            <h1>Jeux combinatoires</h1>
            <h2>Projet L3 informatique</h2>
        </div>
    </div>
    <div class="container">
        <div class="button_out">
            <div id="hexgame-button" onclick="redirectToHex()">Hexgame</div>
        </div>
        <div class="button_out">
            <div id="awale-button" onclick="redirectToAwale()">Awale</div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="../static/js/home.js"></script>
</body>

</html>