<!DOCTYPE html>
<html lang="en">

<head>

    <title>Jeux combinatoires</title>
    <link rel="stylesheet" href="../static/css/home_awale_styles.css">
</head>

<body>
    <div class="back_button" onclick="back()">Home</div>
    <div class="container">
        <form action="/game_awale" method="post">
            <div class="start_game1v1" type="button" onclick="submitForm()">Player vs Player</div>
        </form>
        <div class="button_out"></div>
        <div class="button_out"></div>
    </div>
    <script src="../static/js/home_awale.js"></script>
</body>

</html>