<!DOCTYPE html>
<html lang="en">

<head>
    <title>Awale Game</title>
    <link rel="stylesheet" href="../static/css/game_awale_styles.css">
</head>


<body>
    <div class="back_button" onclick="back()">Index</div>
    <div class="back_button" onclick="home()">Home</div>

    <h1>Awale game</h1>
    <div class="board">
        <div class="row">
            <div class="pit" id="pit-0"></div>
            <div class="pit" id="pit-1"></div>
            <div class="pit" id="pit-2"></div>
            <div class="pit" id="pit-3"></div>
            <div class="pit" id="pit-4"></div>
            <div class="pit" id="pit-5"></div>
        </div>

        <div class="row">
            <div class="pit" id="pit-11"></div>
            <div class="pit" id="pit-10"></div>
            <div class="pit" id="pit-9"></div>
            <div class="pit" id="pit-8"></div>
            <div class="pit" id="pit-7"></div>
            <div class="pit" id="pit-6"></div>
        </div>

    </div>


    <script src="../static/js/game_awale.js"></script>
</body>