<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Jeux combinatoires</title>
    <link rel="stylesheet" href="../static/css/home_hex_style.css">
</head>
<body>
    <div class = "back_button" onclick="back()">Home</div>
    <div class = "header">
        <div class = "text">choisir la taille du plateau</div>
        <div class="clickable" onclick="handleClick(5, 1)" id="div1">5</div>
        <div class="clickable" onclick="handleClick(9, 2)" id="div2">9</div>
        <div class="clickable selected" onclick="handleClick(11, 3)" id="div3">11</div>
        <div class="clickable" onclick="handleClick(13, 4)" id="div4">13</div>
        <div class="clickable" onclick="handleClick(15, 5)" id="div5">15</div>
        <div class="clickable" onclick="handleClick(17, 6)" id="div6">17</div>
    </div>
    <div class="container">
        <div class="button_out">
            <form action="/load_game" method="post">
                <input type="hidden" name="size" id="size_input">
                <input type="submit" value="start game">
            </form>
        </div>
        <div class="button_out"></div>
        <div class="button_out"></div>
    </div>
    <script src="../static/js/home_hex.js"></script>
</body>
</html>