<!DOCTYPE html>
<html lang="en">

<head>

    <title>Jeux combinatoires</title>
    <link rel="stylesheet" href="../static/css/home_hex_style.css">
</head>

<body>
    <div class="back_button" onclick="back()">Home</div>
    <div class="header">
        <div class="text">choisir la taille du plateau</div>
        <div class="clickable" onclick="handleClick(5, 1)" id="div1">5</div>
        <div class="clickable" onclick="handleClick(7, 2)" id="div2">7</div>
        <div class="clickable" onclick="handleClick(9, 3)" id="div3">9</div>
        <div class="clickable selected" onclick="handleClick(11, 4)" id="div4">11</div>
        <div class="clickable" onclick="handleClick(13, 5)" id="div5">13</div>
        <div class="clickable" onclick="handleClick(15, 6)" id="div6">15</div>
        <div class="clickable" onclick="handleClick(17, 7)" id="div7">17</div>
    </div>
    <div class="container">
        <form action="/load_game" method="post">
            <input type="hidden" id="size_input" name="size" value="">
            <div class="start_game1v1" type="button" onclick="submitForm()">Player vs Player</div>
        </form>
        <div class="button_out"></div>
        <div class="button_out"></div>
    </div>
    <script src="../static/js/home_hex.js"></script>
</body>

</html>