<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Awale Game</title>
    <link rel="stylesheet" href="../static/css/game_awale_styles.css" />
  </head>

  <body>
    <header>
      <div class="back_button" onclick="back()">Home</div>
      <div class="back_button" onclick="home()">Awale</div>
      <div id="spinner" style="display: none;">
        <div class="loader"></div>
      </div>
      <div class="titre">
        <h1><center>Awale game</center></h1>
      </div>
    </header>

    <div class="game">
      <div class="pannel" id="redpannel">
        <div class="hole" id="redhole"></div>
      </div>
      <div class="board">
        <div class="row" id="row1">
          <div class="pit P1" id="0">
            <div class="cont" id="c0"></div>
          </div>
          <div class="pit P1" id="1">
            <div class="cont" id="c1"></div>
          </div>
          <div class="pit P1" id="2">
            <div class="cont" id="c2"></div>
          </div>
          <div class="pit P1" id="3">
            <div class="cont" id="c3"></div>
          </div>
          <div class="pit P1" id="4">
            <div class="cont" id="c4"></div>
          </div>
          <div class="pit P1" id="5">
            <div class="cont" id="c5"></div>
          </div>
        </div>

        <div class="row" id="row2">
          <div class="pit P2" id="11">
            <div class="cont" id="c11"></div>
          </div>
          <div class="pit P2" id="10">
            <div class="cont" id="c10"></div>
          </div>
          <div class="pit P2" id="9">
            <div class="cont" id="c9"></div>
          </div>
          <div class="pit P2" id="8">
            <div class="cont" id="c8"></div>
          </div>
          <div class="pit P2" id="7">
            <div class="cont" id="c7"></div>
          </div>
          <div class="pit P2" id="6" hovered="hover_preview()">
            <div class="cont" id="c6"></div>
          </div>
        </div>
      </div>
      <div class="pannel" id="bluepannel">
        <div class="hole" id="bluehole"></div>
      </div>
    </div>

    <div id="side-panel" class="text">
      <button onclick="undo_move2()">Undo move</button>
      <form action="/game_awaleia" method="post" id="reset-form">
        <input type="hidden" id="player" name="player" value="" />
        <button class="start_gameIA" type="submit" onclick="submitForm(2)">Reset board</button>
      </form>
    </div>

    <script src="../static/js/game_awale_ia.js"></script>
  </body>
</html>
